:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --header-color: #222;
  --error-color: #cd5c5c;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: bold;
}

.form-input {
  width: 30%;
  height: 5vh;
  border: 0px;
  border-radius: 2px;
  background-color: #fff;
  padding-left: 10px;
  color: var(--text-color);
  font-weight: bold;
}

#research-input {
  width: 40%;
  height: 6vh;
  font-size: 15px;
}

input:focus {
  outline-width: 0;
}

h1,
h2 {
  color: var(--header-color);
}

.error-msg {
  color: var(--error-color);
}

.main-btn {
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Stile predefinito del bottone */
.main-btn {
  background-color: #70a9a1;
  color: #ffffff;
}

/* Effetto hover del bottone */
.main-btn:hover {
  background-color: #333;
  color: #ffffff;
}

/* Effetto attivo del bottone */
.main-btn:active {
  transform: translateY(1px);
}

/* Stile del menu a tendina */
select {
  padding: 8px 18px;
  font-size: 14px;
  border: 1px solid #70a9a1; /* Colore del bordo */
  border-radius: 5px;
  background-color: #ffffff; /* Colore di sfondo */
  appearance: none; /* Rimuove lo stile predefinito del browser */
  -webkit-appearance: none; /* Per WebKit/Blink browsers */
  -moz-appearance: none; /* Per Firefox */
  cursor: pointer;
}

/* Stile delle opzioni del menu a tendina */
option {
  padding: 8px;
  font-size: 14px;
  background-color: #ffffff; /* Colore di sfondo */
}

/* Effetto hover delle opzioni del menu a tendina */
option:hover {
  background-color: #f4f4f4; /* Colore di sfondo durante l'hover */
}

/* Stile del menu a tendina durante il focus */
select:focus {
  outline: none; /* Rimuove l'outline predefinito */
  border-color: #2e473e; /* Cambia il colore del bordo durante il focus */
}

a {
  color: #70a9a1; /* Colore del link */
  text-decoration: none; /* Rimuove il sottolineato predefinito */
}

/* Effetto hover del link per tornare alla home page */
a:hover {
  color: #4f8379; /* Cambia il colore del link durante l'hover */
}

img {
  border: 4px solid #222; /* Colore del bordo */
  border-radius: 10px; /* Arrotonda gli angoli del bordo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
  transition: border-color 0.3s, transform 0.3s; /* Aggiunge una transizione fluida */
}

/* Effetto hover per le immagini */
img:hover {
  border-color: #4f8379; /* Cambia il colore del bordo durante l'hover */
  transform: scale(1.05); /* Effetto di zoom */
}

/* CSS per la card del libro */
.book-card {
  width: 30%; /* Imposta la larghezza della card */
  margin: 0 1.5% 2rem; /* Margini esterni tra le card */
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: translateY(
    -5px
  ); /* Effetto di sollevamento al passaggio del mouse */
}

.book-thumbnail {
  width: 100%; /* Imposta la larghezza dell'immagine */
  height: auto; /* Altezza automatica per mantenere l'aspetto proporzionale */
  border-radius: 8px 8px 0 0; /* Arrotonda solo gli angoli superiori */
}

.book-details {
  padding: 1rem;
}

.book-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.book-author {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

/* Disposizione in righe di tre */
.book-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card-container > .book-card:nth-child(1):only-child {
  margin-left: auto;
  margin-right: auto;
}

/* Se ci sono due libri, li centra */
.book-card-container > .book-card:nth-child(2):nth-last-child(2) {
  margin-left: auto;
  margin-right: auto;
}

/* Se ci sono tre libri, li dispone in riga */
.book-card-container > .book-card:nth-child(3):only-child {
  width: 30%; /* Imposta la larghezza della card */
  margin: 0 1.5% 2rem; /* Margini esterni tra le card */
}

@media screen and (max-width: 992px) {
  .book-card {
    width: 45%; /* Adatta la larghezza della card per schermi più piccoli */
  }
}

@media screen and (max-width: 768px) {
  .book-card {
    width: 100%; /* Per schermi ancora più piccoli, visualizza una card per riga */
    margin: 0 0 2rem;
  }
}

book-page {
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    width: 60%;
  }
}
/* Stile per la tabella */
.book-table {
  width: 80%; /* Larghezza della tabella */
  margin: 0 auto; /* Centra la tabella rispetto al suo contenitore */
  margin-top: 20px; /* Spazio superiore della tabella */
  table-layout: fixed; /* Fissa la larghezza della tabella */
  /* color: #f2f2f2; */
}

/* Stile per le celle dell'intestazione */

.book-table th {
  background-color: #f2f2f2; /* Colore di sfondo dell'intestazione */
  padding: 8px; /* Spazio interno della cella */
  text-align: left; /* Allinea il testo a sinistra */
  border-bottom: 2px solid #ddd; /* Bordo inferiore */
  white-space: nowrap; /* Evita che il testo vada a capo */
  overflow: hidden; /* Nasconde il testo in eccesso */
  text-overflow: ellipsis; /* Aggiunge l'elisione del testo (...) */
}

/* Stile per le celle delle righe */
.book-table td {
  padding: 8px; /* Spazio interno della cella */
  border-bottom: 1px solid #ddd; /* Bordo inferiore */
  white-space: nowrap; /* Evita che il testo vada a capo */
  overflow: hidden; /* Nasconde il testo in eccesso */
  text-overflow: ellipsis; /* Aggiunge l'elisione del testo (...) */
}

/* Stile per la riga pari */
.book-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Sfondo alternato per le righe pari */
}
.book-table-col-number {
  width: 10%;
}
.book-table-col-status {
  width: 10%;
}

.book-table-row-number {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-link {
  color: var(--text-color);
}

.book-table th.book-table-col-remove {
  width: 1.5%;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #222;
  color: #f2f2f2;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
}
